@font-face {
    font-family: 'cooper_hewittlight';
    src: url('../fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
    url('../fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JF Flat regular';
    src: url('../fonts/JF Flat regular.eot');
    src: url('../fonts/JF Flat regular.woff2') format('woff2'),
    url('../fonts/JF Flat regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JFFlat-Regular';
    src: url('../fonts/JFFlat-Regular.woff') format('woff'),
    url('../fonts/JFFlat-Regular.ttf') format('truetype'),
    url('../fonts/JFFlat-Regular.svg#JFFlat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {height: 100%;}
body {
    font: 20px/25px 'cooper_hewittlight';
    background: #f3f1ef;
    min-width: 320px;
}
img {display: block;}
a {text-decoration: none;}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
.clear {
    line-height: 0;
    font-size: 0;
    clear: both;
    height: 0;
}
.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
.arrow {
    display: block;
    width: 33px;
    height: 16px;
    background: url("../images/arrow3.png") no-repeat;
    margin: 40px auto 0;
}
.header {
    background: url("../images/bg1.jpg") no-repeat center top;
    padding: 50px 0 0;
}
.header .header-top .header-right {
    float: right;
	background-color:rgba(82,21,78,.7);
	border-radius:20px;
	margin:0 10px;
}
.header .header-top .header-right ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
}
.header .header-top .header-right ul li.arabic {
	font-family: 'JF Flat regular';
}
.header .header-top .header-right ul li a {
    color: #fff;
    position: relative;
    vertical-align: top;
    display: inline-block;
}
.header .header-top .header-right ul li a:hover,
.header .header-top .header-right ul li.active a {
    color: #e09438;
}
.header .header-top .header-right ul li:first-child a:before {
    border-right: dotted 1px #fff;
    height: 14px;
    width: 1px;
    content: "";
    position: absolute;
    right: -13px;
    top: 4px;
}
.header .holder {
    max-width: 1170px;
    margin: 0 auto;
}
.header .logo {
    width: 195px;
    height: 76px;
    float: left;
}
.head-inner {
    overflow: hidden;
    position: relative;
}
.head-inner .text-area {
    float: left;
    width: 45%;
    text-align: center;
    padding: 70px 0 0;
    margin: 0 0 93px;
}
.head-inner .text-area h3 {
    font-size: 73px;
    line-height: 78px;
    color:#e09438;
    margin: 0 0 12px;
}
.head-inner .text-area p {
    font-size: 30px;
    line-height: 35px;
    color: #000;
    margin: 0 0 29px;
}
.head-inner .head-img {
    position: absolute;
    right: 10px;
    bottom: 0px;
    height: auto;
}
.store-links {
    list-style: none;
    overflow: hidden;
}
.store-links li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
.home {
    overflow: hidden;
    background: #f3f1ef;
}
.home .left {background: url("../images/bg-home-left.jpg") no-repeat;}
.home .left .img-wrap {
    float: right;
    width: 72%;
    padding: 90px 24px 91px 0;
}
.home .left img {
    float: right;
    width: 100%;
    height: auto;
}
.home .right .text-area {
    max-width: 85%;
    padding: 158px 0 0 56px;
}
.sect-head {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 56px;
    color: #e09438;
    text-transform: uppercase;
    font-weight: bolder;
}
.search {
    overflow: hidden;
}
.search .right {
    background: url("../images/bg-right-search.jpg") no-repeat;
}
.search .text-area {
    max-width:60%;
    margin: 0 auto;
    padding: 110px 0 0 33px;
}
.search .img-wrap {
    padding: 26px 0 17px 135px;
    width:59%
}
.search .right img {
    width: 100%;
    height: auto;
}
.stores {overflow: hidden;}
.stores .left {background: #e09438;}
.stores .right {background: #111344;}
.stores .text-area {
    padding: 163px 50px 164px 210px;
    color: #fff;
    font-size: 36px;
    line-height: 41px;
}
.stores .text-area p{margin: 0 0 42px;}
.stores .sect-head {
    color: #fff;
    margin: 0 0 30px;
}
.stores .btn-playstore, .stores .btn-appstore {
    display: block;
    padding: 15px 0;
    width: 280px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}
.stores .btn-playstore:hover, .stores .btn-appstore:hover {   text-decoration: none;}
.stores .arrow {display: inline-block;}
.stores .left .arrow {
    background: url("../images/arrow2.png") no-repeat;
    display: inline-block;
    margin: 40px 0 0 120px;
}
.stores .right {text-align: right;}
.stores .right .text-area {padding: 163px 200px 164px 50px;}
.stores .btn-playstore {display: inline-block;}
.stores .arrow-wrap {
    overflow: hidden;
    padding: 0 120px 0 0;
}
.stores .arrow-wrap .arrow {margin: 40px 0 0}
.thanks-wrap {
    display: table;
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
    background: url("../images/bg-thanks.jpg") no-repeat;
}
.thanks-wrap .w1 {
    display: table-row;
    vertical-align: middle;
    height: 100%;
}
.thanks-wrap .w2 {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}
.thanks-wrap .header {
    background: none;
    padding: 20px;
}
.thanks-wrap .inner-wrap { padding: 0 25px;}
.thanks-wrap h2 {
    margin: 0 0 20px;
    font-size: 35px;
    line-height: 40px;
    color: #111344;
}
.thanks-wrap .url {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 15px 0;
    background: url("../images/bg-url.png") no-repeat 27% 5px;
}
.footer {
    background: url("../images/bg-footer.jpg") no-repeat center top #52154e;
    background-size: cover;
    padding: 60px 0 85px;
    overflow: hidden;
}
.footer .text-area {
    color: #fff;
    padding: 56px 19px 0 166px;
    overflow: hidden;
    font-size: 14px;
    line-height: 19px;
}
.footer h4 {
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0 0 50px;
}
.footer .about {
    float: left;
    width: 50%;
    margin: 0 20px 0 0;
    line-height: 24px;
}
.footer .contact-area {
    float: right;
    width: 35%;
    font-size: 14px;
    line-height: 19px;
}
.footer .text-area p {color: #919191;}
.footer .contact-area h4 {margin:0 0 25px;}
.footer .contact-me address {margin: 0 0 25px;}
.footer .contact-me span {
    display: block;
    margin: 0 0 5px;
}
.footer .contact-me { margin: 0 0 68px;}
.footer .contact-me .social-links, .footer .contact-me address .footer .contact-me .phone, .footer .contact-me .email { font-family: 'cooper_hewittlight';}
body.abr .footer .contact-me .social-links { direction:ltr; text-align:right;}
.footer .contact-me address, .footer .contact-me .phone, .footer .contact-me .email, .footer .contact-me .email a {color: #919191;}
.footer .social-links {
    overflow: hidden;
    list-style: none;
}
.footer .social-links li {
    margin: 0 0 10px;
    text-transform: uppercase;
}
.footer .social-links li a {
    color: #919191;
    background: url("../images/icon1.png") no-repeat;
    padding: 0 0 0 25px;
}
.footer .social-links li.twitter a {background:url("../images/icon2.png") no-repeat; }
.footer .social-links li.instagram a {background:url("../images/icon3.png") no-repeat; }
.footer .social-links li.spotify a {background:url("../images/icon4.png") no-repeat; }
.footer .img-wrap {
    float: left;
    width: 80%;
    margin: 0 0 0 10px;
}
.footer .right img {
    width: 100%;
    height: auto;
}
.footerbottom {
    background-color: #111344;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.footerbottom ul li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
}

.footerbottom ul li a {
    color: #fff;
    display:block;
    border-left: dotted 1px #fff;
    line-height: 16px;
    padding: 0 10px;
}
body.arb .footerbottom ul li a {
    border-right: dotted 1px #fff;
    border-left:none;
}
.footerbottom ul li a:hover, .footerbottom ul li.active a {
    color:#e09438;
}
.footerbottom ul li:first-child a,
body.arb .footerbottom ul li:first-child a {
    border:none;
}
    /*---- Arabic Styles ----*/
body.arb {
    direction: rtl;
    font-family: 'JF Flat regular';
}
/*body.arb .header,
body.arb .home .left,
body.arb .search .right,
body.arb .footer {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
body.arb .header .holder,
body.arb .home .left .img-wrap,
body.arb .search .right .img-wrap,
body.arb .footer .holder {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}*/
body.arb .header {
    background: url("../images/bg1-arb.jpg") no-repeat center top;
}
body.arb .header .header-top .header-right ul li:first-child a:before {
    border-color:#fff;
    left:-13px;
    right: inherit;
}
body.arb .header .logo {
    float: right;
}
body.arb .header .header-top .header-right {
    float: left;
}
body.arb .header .header-top .header-right ul li a {
    color:#fff;
}
body.arb .header .header-top .header-right ul li a:hover,
body.arb .header .header-top .header-right ul li.active a {
    color: #e09438;
}
body.arb .head-inner .text-area,
body.arb .left {
    float: right;
}
body.arb .right {
    float: left;
}
body.arb .head-inner .head-img {
    right: inherit;
    left: 10px;
}
body.arb .home .left .img-wrap {
    float: left;
    padding-right: 0;
    padding-left: 24px;
}
body.arb .home .right .text-area {
    padding-right: 56px;
    padding-left: 0;
}
body.arb .search .text-area {
    padding-right: 33px;
    padding-left: 0;
}
body.arb .search .img-wrap {
    padding-right: 135px;
    padding-left: 0;
}
body.arb .stores .text-area {
    padding-right: 210px;
    padding-left: 50px;
	font-size:22px;
}
body.arb .stores .right .text-area {
    padding-right: 50px;
    padding-left: 200px;
}
body.arb .stores .left .arrow {
    margin-right: 120px;
    margin-left: 0;
}
body.arb .footer .text-area {
    padding-right: 166px;
    padding-left: 19px;
}
body.arb .footer .img-wrap {
    float: right;
    margin: 0 10px 0;
}
body.arb .footer .about {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
body.arb .footer .contact-area {
    float: left;
}

/* ---- Popup Styles ----*/



/*----- Responsive -----*/

@media screen and (max-width:1170px){
    .header .logo {margin: 0 0 0 20px;}
    body.arb .header .logo {margin: 0 20px 0 0;}
    .head-inner .head-img {width:50%; }
	.head-inner .text-area {margin-bottom:50px; }
    .home .right .text-area, .search .text-area {max-width: 97%; padding: 120px 0 0 56px; }
    body.arb .home .right .text-area, body.arb .search .text-area {padding-right: 56px; padding-left: 0; }
    .search .img-wrap {width: 67%;}
    .search .text-area, .footer .text-area,
    body.arb .search .text-area,  body.arb .footer .text-area {padding: 60px 30px;}
    .stores .text-area, .stores .right .text-area,
    body.arb .stores .text-area, body.arb .stores .right .text-area {padding: 100px 50px;}
    .footer,
    body.arb .footer {padding: 30px 0;}
    .footer .about,
    body.arb .footer .about {margin: 0;}
    .footer .contact-area {width: 38%;}
    .footer .img-wrap,
    body.arb .footer .img-wrap {padding: 80px 0 0}
}
@media screen and (max-width:1023px){
    .sect-head, body.arb .sect-head {margin: 0 0 30px;}
    .head-inner .text-area {width: 43%;}
    .head-inner .head-img {bottom: 40px;}
    .head-inner .text-area h3 {font-size: 40px; line-height: 45px; }
    .head-inner .text-area p {font-size: 20px; line-height: 25px;}
    .home .right .text-area, .search .text-area, body.arb .home .right .text-area, body.arb .search .text-area {padding: 40px 0 0 30px; font-size:16px;}
    body.arb .home .right .text-area, body.arb .search .text-area {padding-right: 40px; padding-left: 0;}
    .search .img-wrap {width: 82%;}
    .stores .text-area p {font-size: 22px; line-height: 27px;}
    .footer .left, .footer .right {width: 98%;}
    .footer .text-area,
    body.arb .footer .text-area {padding: 50px 30px 0;}
    .footer .contact-me, body.arb .footer .contact-me {margin: 0 0 40px;}
    .footer .right {display: none;}
}
@media screen and (max-width:767px){
    .head-inner .head-img, .home .left, .search .right, .arrow, .stores .arrow, .stores .left .arrow {display: none;}
    .head-inner .text-area, .home .right, .search .left, .stores .left, .stores .right, .footer .about, .footer .contact-area { width: 100%;}
    .footer .about,
    body.arb .footer .about {margin: 0 0 40px;}
    .home {background: #843534; color: #fff; padding: 0px 0 40px;}
    .search,
    body.arb .search{padding:0px 0 40px;}
    .search .text-area,
    body.arb .search .text-area {margin: 0;}
	body.arb .stores .text-area, body.arb .stores .right .text-area, .stores .text-area,  .stores .right .text-area {padding:50px;}
	.stores .right {text-align:left;}
	body.arb .stores .right { text-align:right;}
	body.arb .stores .text-area p {font-size:18px;	}
	.footer {
		padding:0;
	}
	
	.textbox {
		max-width:450px;
	}
}
@media screen and (max-width:479px){
    .header .logo,
    body.arb .header .logo{
        float: none;
        margin: 0 auto 20px auto;
    }

    .header .header-top .header-right,
    body.arb .header .header-top .header-right{
        float: none;
        text-align: center;
		max-width:150px;
		margin:0 auto;
    }
	
	.stores .btn-playstore, .stores .btn-appstore {
		width:100%;
	}
}

@media screen and (max-width:479px){
	.textbox {
		max-width:300px;
	}
}